<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.1.114:1521/neonex</property>
        <property name="hibernate.connection.username">tcuser</property>
        <property name="hibernate.connection.password">tcpass</property>
        <!-- hibernate 자체 SQL 출력을 못하도록 -->
        <property name="show_sql">false</property>
        <!-- 이쁘게 보이게 -->
        <property name="format_sql">true</property>
        <!--
        <mapping  package="com.neonex.dto"/>
        -->
        <mapping  class="com.neonex.dto.DeviceStatus"/>
        <mapping  class="com.neonex.dto.EventLog"/>
        <mapping  class="com.neonex.dto.Account"/>
    </session-factory>
</hibernate-configuration>
