<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
        -->
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 실행 sql 출력 -->
    <logger name="org.hibernate.SQL" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- parameter 바인딩 로그 출력 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- 객체에 맵핑되는 로그 필요 없는듯 -->
    <logger name="org.hibernate.type.BasicTypeRegistry" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.neonex" level="INFO" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>